<div class="col-xs-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <center>Listado de Pacientes.</center>
                <br>
                Bucar <span class="glyphicon glyphicon-search" aria-hidden="true"></span>: <input type="text" ng-model="Buscador" placeholder="Ingrese datos a buscar"/>
            </h3>
        </div>
        <div class="panel-body">
			
            <ul class="list-group">
            	<li class="list-group-item">
            		<div class="col-xs-3">
		                Paciente
		            </div>
		            <div class="col-xs-3">
		                Dni
		            </div>
		            <div class="col-xs-3">
		                Nacionalidad
		            </div>
		            <div class="col-xs-3">
		                Acciones
		            </div>
		            <div class="clearfix"></div>
            	</li>
                <li class="list-group-item" ng-repeat="persona in modelo.personas | filter:Buscador track by $index">
	                <div class="col-xs-3">
	                    {{persona.nombre}}
	                </div>
	                <div class="col-xs-3">
	                    {{persona.dni}}
	                </div>
	                <div class="col-xs-3">
	                    {{persona.nacionalidad}}
	                </div>
	                <div class="col-xs-3">
	                    <button class="btn btn-primary" ng-click="modelo.editarPersona(persona, $index)">
	                        <i class="glyphicon glyphicon-pencil">
	                        </i>
	                    </button>
	                    <button class="btn btn-primary" ng-click="modelo.borrarPersona($index)">
	                        <i class="glyphicon glyphicon-trash">
	                        </i>
	                    </button>
	                </div>
	                <div class="clearfix"></div>
                </li>
            </ul>
            
            <p>
                <a class="btn btn-primary btn-lg" ng-click="modelo.cerrarListado()" role="button">
                    Cerrar
                </a>
            </p>
        </div>
    </div>
</div>