<div class="col-xs-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                Listado de especialistas.
            </h3>
        </div>
        <div class="panel-body">
			<div ng-show="modelo.paso == 1">
				Agregar turno: 
				<select ng-options="persona.nombre for persona in modelo.personas" ng-model="modelo.personaParaTurno">	
				</select>	
				<select ng-options="especialidad for especialidad in modelo.especialidades" ng-model="modelo.especialidadParaTurno">	
				</select>	
				<button class="btn btn-xs btn-primary" ng-click="modelo.siguientePaso()">
					<i class="glyphicon glyphicon-plus"></i>
				</button>
			</div>
			<div ng-show="modelo.paso == 2">
				Agregar turno:
				<select ng-options="especialista.nombre for especialista in modelo.especialistasPorEspecialidad" ng-model="modelo.especialistaParaTurno">
				</select>	
				<button class="btn btn-xs btn-primary" ng-click="modelo.siguientePaso()">
					<i class="glyphicon glyphicon-plus"></i>
				</button>
			</div>
			<div ng-show="modelo.paso == 3">
				Agregar turno:
				<select ng-options="turno for turno in modelo.turnosDisponibles" ng-model="modelo.turnoSeleccionado">
				</select>	
				<button class="btn btn-xs btn-primary" ng-click="modelo.siguientePaso()">
					<i class="glyphicon glyphicon-plus"></i>
				</button>
			</div>
			
            <ul class="list-group">
            	<li class="list-group-item">
            		<div class="col-xs-3">
		                Especialista
		            </div>
		            <div class="col-xs-3">
		                Especialidad
		            </div>
		            <div class="col-xs-3">
		                En espera
		            </div>
		            <div class="col-xs-3">
		                Acciones
		            </div>
		            <div class="clearfix"></div>
            	</li>
                <li class="list-group-item" ng-repeat="especialista in modelo.especialistas track by $index">
	                <div class="col-xs-3">
	                    {{especialista.nombre}}
	                </div>
	                <div class="col-xs-3">
	                    {{especialista.especialidad}}
	                </div>
	                <div class="col-xs-3">
	                    {{especialista.pacientesEnEspera.length}} pacientes
	                </div>
	                <div class="col-xs-3">
	                    <button class="btn btn-primary" ng-click="modelo.editarEspecialista(especialista, $index)">
	                        <i class="glyphicon glyphicon-pencil">
	                        </i>
	                    </button>
	                    <button class="btn btn-primary" ng-click="modelo.borrarEspecialista($index)">
	                        <i class="glyphicon glyphicon-trash">
	                        </i>
	                    </button>
	                    <button class="btn btn-primary" ng-click="modelo.llamarSiguiente(especialista)">
	                        <i class="glyphicon glyphicon-ok">
	                        </i>
	                    </button>
	                </div>
	                <div class="clearfix"></div>
                </li>
            </ul>
            
            <p>
                <a class="btn btn-primary btn-lg" ng-click="modelo.cerrarListado()" role="button">
                    Cerrar
                </a>
            </p>
        </div>
    </div>
</div>