<!DOCTYPE html>
<html ng-app="app">
<head>
	<title></title>
<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="assets/angularjs/angular-material.min.css">

<link rel="stylesheet" href="assets/angularjs/angular-material.min.css">

<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<!--<style type="text/css">
	.ng-invalid{
		border: 1px solid red
	}
</style>-->

	<div class="container">
		<div class="row">
		<nav class="navbar navbar-default">
		  <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="#">GENERADOR HOTSPOT</a>
		    </div>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav">
		        <li><a ng-click="mktCommands()">Generar comandos</a></li>

		        <li><a ng-click="mktUsers()">Resumen combinaciones</a></li>		        
		      </ul>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>
		
		<div ui-view></div>
			
		</div>
	</div>
<script type="text/javascript" src="assets/jquery/jquery.min.js"></script>
<script type="text/javascript" src="assets/bootstrap/js/bootstrap.min.js"></script></script>
<script type="text/javascript" src="assets/angularjs/angular.min.js"></script>
<script type="text/javascript" src="assets/angularjs/angular-messages.min.js"></script>
<script type="text/javascript" src="assets/uirouter/ui-router.min.js"></script>

<script type="text/javascript" src="scripts/app.js"></script>
<script type="text/javascript" src="scripts/DataService.js"></script>

<script type="text/javascript" src="scripts/router.config.js"></script>

<script type="text/javascript" src="assets/angularjs/angular-animate.min.js"></script>


<script type="text/javascript" src="assets/angularjs/angular-aria.min.js"></script>


<script type="text/javascript" src="assets/angularjs/angular-material.min.js"></script>



</body>
</html>